h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
input,
form,
span,
a,
div,
html,
body,
img,
hr,
dt,
p,
button,
dd {
	margin: 0;
	padding: 0;
}

a {
	font-size: 14px;
	color: #66667b;
	text-decoration: none;
}

html,
body {
	width: 100%;
}

input,
button,
form {
	outline: none;
	border: none;
}

ul,
ol,
dl li {
	list-style: none;
}

.clearfix:after {
	height: 0;
	visibility: hidden;
	content: "";
	display: block;
	clear: both;
}

#inline {
	width: 40px;
	height: 200px;
	border-radius: 6px 0 0 6px;
	background: #ff6bb0;
	position: fixed;
	right: 0;
	top: 342px;
	overflow: hidden;
	box-sizing: border-box;
}

#inline a {
	display: block;
	width: 24px;
	height: 100%;
	font-size: 18px;
	text-align: center;
	color: #fff;
	margin-left: 8px;
	padding-top: 50px;
}

#inline a i {
	display: block;
	position: absolute;
	top: 16px;
	font-size: 26px;
}

#register_page {
	width: 100%;
	box-sizing: border-box;
	padding: 40px 80px 80px 70px;
}

#register_page .logo_left {
	float: left;
	width: 488px;
	height: 375px;
	display: block;
	margin-top: 98px;
}

#register_page .register_right {
	float: right;
	width: 393px;
	height: 540px;
	box-sizing: border-box;
	padding: 30px 10px 30px 30px;
	box-shadow: 0 0 4px 4px #dedede;
}

#register_page .register_right .vip {
	width: 100%;
}

#register_page .register_right .vip h3 {
	width: 50%;
	float: left;
	font-size: 24px;
	color: #ff1574;
	line-height: 30px;
	background: url(../img/4_03.gif) no-repeat right;
}

#register_page .register_right .vip span {
	width: 50%;
	float: right;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
}

#register_page .register_right .vip span a {
	font-weight: 700;
	color: #e4257f;
}

#register_page .register_right form label {
	margin-top: 30px;
	display: block;
	width: 310px;
	position: relative;
	border: 1px solid #e1e1e1;
	height: 36px;
	line-height: 36px;
	font-size: 15px;
	color: #a9a9a9;
}
#register_page .register_right form .checkunm{
	margin-top: 30px;
	display: block;
	width: 310px;
	position: relative;
	border: 1px solid #e1e1e1;
	height: 36px;
	line-height: 36px;
	font-size: 15px;
	color: #a9a9a9;
}
#register_page .register_right form .phone_check{
	margin-top: 30px;
	display: block;
	width: 310px;
	position: relative;
	border: 1px solid #e1e1e1;
	height: 36px;
	line-height: 36px;
	font-size: 15px;
	color: #a9a9a9;
}
#register_page .register_right form label p {
	width: 98px;
	float: left;
	padding-left: 4px;
}

#register_page .register_right form label:nth-child(1) span:nth-of-type(1) {
	width: 6px;
	height: 6px;
	position: absolute;
	right: -12px;
	top: 12px;
	display: inline-block;
	background: url(../images/xinghao_03.gif);
}

#register_page .register_right form label:nth-child(1) span:nth-of-type(2) {
	width: 14px;
	height: 14px;
	display: inline-block;
	position: absolute;
	right: -30px;
	top: -2px;
}

#register_page .register_right form label:nth-child(1) span:nth-of-type(2) i {
	width: 100%;
	height: 100%;
	display: block;
	color: green;
	display: none;
}

#register_page .register_right form  .check {
	width: 312px;
	height: 24px;
	line-height: 24px;
	position: absolute;
	font-size: 12px;
	top: 37px;
	background: #ff6bb0;
	text-align: center;
	color: white;
	display: none;
}

#register_page .register_right form .checkunm {
	width: 144px;
}

#register_page .register_right form .checkunm input {
	width:144px;
	float: left;
	height: 36px;
	line-height: 36px;
}

#register_page .register_right form .checkunm span:nth-of-type(1) {
	width: 6px;
	height: 6px;
	position: absolute;
	right: -12px;
	top: 12px;
	display: inline-block;
	background: url(../images/xinghao_03.gif);
}

#register_page .register_right form .checkunm span:nth-of-type(2) {
	width: 14px;
	height: 14px;
	display: inline-block;
}

#register_page .register_right form .checkunm span:nth-of-type(2) i {
	width: 14px;
	height: 14px;
	display: block;
	position: absolute;
	color: green;
	right: -160px;
	top: 3px;
	display: none;
}

#register_page .register_right form .checkunm .yzm {
	width: 110px;
	height: 36px;
	position: absolute;
	left: 165px;
	cursor: pointer;
}
#register_page .register_right form .checkunm .yzm img{
	width: 100%;
	height: 100%;
	display: block;
}
#register_page .register_right form .phone_check {
	border: none;
	width: 144px;
}

#register_page .register_right form .phone_check input {
	width: 144px;
	float: left;
	border: 1px solid #e1e1e1;
	line-height: 36px;
}

#register_page .register_right form .phone_check button {
	width: 116px;

	line-height: 30px;
	height: 30px;
	background: #fcfcfc;
	border-radius: 4px;
	border: 1px solid #d4d4d4;
	cursor: pointer;

    position: absolute;left: 167px;top: 3px;
}

#register_page .register_right form label:nth-child(4) span:nth-of-type(1) {
	width: 6px;
	height: 6px;
	position: absolute;
	right: -12px;
	top: 12px;
	display: inline-block;
	background: url(../images/xinghao_03.gif);
}

#register_page .register_right form label:nth-child(4) span:nth-of-type(2) {
	width: 14px;
	height: 14px;
	display: inline-block;
	position: absolute;
	right: -30px;
	top: -2px;
}

#register_page .register_right form label:nth-child(4) span:nth-of-type(2) i {
	width: 100%;
	height: 100%;
	display: block;
	color: green;
	display: none;
}

#register_page .register_right form label:nth-child(5) span:nth-of-type(1) {
	width: 6px;
	height: 6px;
	position: absolute;
	right: -12px;
	top: 12px;
	display: inline-block;
	background: url(../images/xinghao_03.gif);
}

#register_page .register_right form label:nth-child(5) span:nth-of-type(2) {
	width: 14px;
	height: 14px;
	display: inline-block;
	position: absolute;
	right: -30px;
	top: -2px;
}

#register_page .register_right form label:nth-child(5) span:nth-of-type(2) i {
	width: 100%;
	height: 100%;
	display: block;
	color: green;
	display: none;
}

#register_page .register_right form .btn_register {
	width: 310px;
	height: 46px;
	line-height: 46px;
	border-radius: 6px;
	font-size: 20px;
	color: #fff;
	margin-top: 26px;
	background: #f60182;
	cursor: pointer;
}

#register_page .register_right form  .yes{
	border: none;
	margin-top: 10px;
	font-size: 14px;
	color: #000;
	
}
#register_page .register_right form .yes input{
	width: 18px;
	height: 18px;
	vertical-align: middle;
}
#register_page .register_right form  .yes a{
	color: #0066cc;
	padding:  0 3px;
}
#register_page .register_right form label:nth-child(1):hover{
	 border:solid 1px #e73a77; 
	 box-shadow: 0px 0px 15px #e73a77;
	 -webkit-box-shadow: 0px 0px 15px #e73a77;
}

#register_page .register_right form label:nth-child(4):hover{
	 border:solid 1px #e73a77; 
	 box-shadow: 0px 0px 15px #e73a77;
	 -webkit-box-shadow: 0px 0px 15px #e73a77;
}

#register_page .register_right form label:nth-child(5):hover{
	 border:solid 1px #e73a77; 
	 box-shadow: 0px 0px 15px #e73a77;
	 -webkit-box-shadow: 0px 0px 15px #e73a77;
}

#register_page .register_right form .phone_check input:hover {

	 border:solid 1px #e73a77; 
	 box-shadow: 0px 0px 15px #e73a77;
	 -webkit-box-shadow: 0px 0px 15px #e73a77;
}

#register_page .register_right form .checkunm input:hover {

	 border-color:#e73a77  ; 
	 box-shadow: 0px 0px 15px #e73a77;
	 -webkit-box-shadow: 0px 0px 15px #e73a77;
}
