<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>校妆网-【爱美,选校妆】大学生最爱的时尚美妆门户!综合首选,正品低价!</title>
		<link rel="Shortcut Icon" href="../img/xiaozhuang_logo.ico" type="image/x-icon">
		<link href="../css/detail-shoping.css" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="../fonts/iconfont.css"/>
	</head>
	<body>
		<div class="header"></div>
		<div id="cart">
			<div class="c_tools">
					<p>
						<span class="c_icon" id="end"></span>
						<span class="c_cart">购物车</span>
					</p>
				</div>
				<div class="c_box">
					<ul class="c_ul"></ul>
					<div class="sub clearfix">
						<span>共有<a class="all_amount">0</a>件商品</span>
						<span>总计：<a class="all_price">0.00</a>元</span>
					</div>
					<div class="qingkong">清空购物车</div>
					<a href="firm.html" class="c_count">结算</a>
				</div>
		</div>
		<div id="come_top">
			<img src="../img/detail_shoping_img/come_top.gif" />
		</div>
		<div id="detail_main" class="clearfix">
			<div class="manginify_left">
				<div class="man_title">
					<a href="homepage.html">首页</a>>
					<a href="list.html">面部护肤</a>>
					<a href="javascript:void(0);">精华</a>>
					<a href="javascript:void(0);">精华</a>
				</div>
				<div class="clearfix manginify">
					<div class="man_left">
						<div class="container">
							<div class="len"></div>
							<img style="width: 300px;" src="../img/detail_shoping_img/1.jpg" />
							<div class="cover"></div>
						</div>
						<div class="big">
								<img class="zoomImg" src="../img/detail_shoping_img/1.jpg" alt="" />
						</div>
						<div class="small_img clearfix">
							<div class="bg_prev"></div>
							<div class="replaced"><img style="width: 55px;height: 55px;" src="../img/detail_shoping_img/1.jpg" alt="" /></div>
							<div class="replaced"><img style="width: 55px;height: 55px;" src="../img/detail_shoping_img/2.jpg"></div>
							<div class="bg_next"></div>
						</div>
						<div class="sprit">
							<div class="sprit_top">
								<p>分享到</p>
								<div class="trouble clearfix">
									<a href="javascript:void(0);">新浪微博</a>
									<a href="javascript:void(0);">百度云收藏</a>
									<a href="javascript:void(0);">人人网</a>
									<a href="javascript:void(0);">腾讯微博</a>
									<a href="javascript:void(0);">百度相册</a>
									<a href="javascript:void(0);">开心网</a>
									
									<a href="javascript:void(0);">腾讯朋友</a>
									<a href="javascript:void(0);">百度贴吧</a>
									<a href="javascript:void(0);">豆瓣网</a>
									<a href="javascript:void(0);">搜狐微博</a>
									<a href="javascript:void(0);">百度新首页</a>
									<a href="javascript:void(0);">qq好友</a>
									<a href="javascript:void(0);">和讯微博</a>
									<a href="javascript:void(0);">一键分享</a>
									<a href="javascript:void(0);">qq空间</a>
									<a href="javascript:void(0);">更多...</a>
								</div>
								<span class="clearfix"><a href="javascript:void(0);">百度分享</a></span>
							</div>
							<a  href="javascript:void(0);"></a>
							<a class="share" href="javascript:void(0);">分享到：

							</a>
							<a href="javascript:void(0);"></a>
							<a href="javascript:void(0);"></a>
							<a href="javascript:void(0);"></a>
							<a href="javascript:void(0);"></a>
							<a href="javascript:void(0);"></a>
							<a href="javascript:void(0);"></a>
							<a href="javascript:void(0);"></a>
							<a href="javascript:void(0);"></a>
							
						</div>
					</div>
					<div class="prod_detail">
						<h3>泰国White收缩毛孔精华液30g</h3>
						<div class="detail_prod_info">
							<div class="prod_id">
								<span>品牌：<a class="pinpai">其他品牌</a></span>
								<span>货号：<a class="id">23174</a></span>
							</div>
							<div class="sc_price">市场价：&nbsp;<span>￥69.0</span></div>
							<div class="xz_price">校妆价：<span>￥</span><span>15.0</span></div>
							<div class="get_score">所得积分：<span>15</span></div>
							<div class="prod_success_looked">
								<span>已售出：<a class="p_s">0</a>件</span>&nbsp;&nbsp;
								<span>浏览人数：<a class="p_l">120</a></span>
							</div>
							<div class="cuxiao">促销信息：<span>全站满98元包邮</span></div>

						</div>
						<div class="shoping_num">
							<div class="change_num">
								<span>购买数量：&nbsp;</span>
								<label class="clearfix">
								<span class="minux"></span>
								<input value="1" type="text" class="amount">
								<span class="add"></span>
								</label>
							</div>
							<input type="button" value="加入购物车" class="can_add_shopcar" name="">
						</div>
						<div class="xz_server"></div>
					</div>
				</div>
				<div class="goup">
					<div class="xiding clearfix">
						<ul>
							<li><a href="#p1">商品参数</a></li>
							<li><a href="#p1">商品详情</a></li>
							<li><a href="#koubei">口碑报告</a></li>
							<li><a href="#fwcn">商品咨询</a></li>
							<li><a href="#fwcn">服务承诺</a></li>
						</ul>
						<div class="xd_price"><span>￥15.0</span><button class="add_shopcar"></button></div>
					</div>
				</div>
				<div class="detail_info_prod">
						<p><span>货     号：23174</span><span>品    牌：其他品牌</span></p>
						<p><span>适合肤质： 所有肤质</span><span>容　　量： 30g</span></p>
						<p><span>商品包装： 瓶装</span><span>所得积分：15</span></p>
					</div>
				<div class="all_pic">
				<div id="p1"><img src="../img/detail_shoping_img/1499413405106830.jpg"></div>
				<div class="detail_pic_1"><img src="../img/detail_shoping_img/1499413405262666.jpg"></div>
				<div class="detail_pic_2"><img src="../img/detail_shoping_img/1499413421545911.jpg"></div>
				<div class="detail_pic_3"><img src="../img/detail_shoping_img/1499413422178028.jpg"></div>
				<div class="detail_pic_4"><img src="../img/detail_shoping_img/1499413434507839.jpg"></div>
				<div class="detail_pic_5"><img src="../img/detail_shoping_img/1499413434334882.jpg"></div>
				<div class="detail_pic_6"><img src="../img/detail_shoping_img/1499413444587774.jpg"></div>
				<div class="detail_pic_7"><img src="../img/detail_shoping_img/1499413444527172.jpg"></div>
				<div class="detail_pic_8"><img src="../img/detail_shoping_img/1499413454238020.jpg"></div>
				<div class="detail_pic_9"><img src="../img/detail_shoping_img/1499413454145025.jpg"></div>
				<div class="detail_pic_10"><img src="../img/detail_shoping_img/1499413468212764.jpg"></div>
				<div class="detail_pic_11"><img src="../img/detail_shoping_img/1499413468766321.jpg"></div>
				<div class="detail_pic_12"><img src="../img/detail_shoping_img/1499413479409622.jpg"></div>
				<div class="detail_pic_13"><img src="../img/detail_shoping_img/1499413493307387.jpg"></div>
				<div class="detail_pic_14" style="width: 810px;"><img src="../img/detail_shoping_img/1499413503642210.jpg"></div>
				<div class="detail_pic_15" style="width: 810px;"><img src="../img/detail_shoping_img/1499413509291163.jpg"></div>
				</div>
				<div class="point">
					<h4>校妆提示:</h4>
					<p>　　因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、
						附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。
						若本商城没有及时更新，请大家谅解！</p>
					<p>　　注：由于产品的特性不同人群所体验出的效果将有所差异，对于过于追求理想效果而要求退货的，将不给予退换货，请大家谅解。
      				  </p>
				</div>
				<div id="koubei"></div>
				<div class="mark">
					<div class="mark_left">
						<div class="public1">
							100%
						</div>
						<div class="public2">
							好评率
						</div>
						<div class="public3">
							<span>0</span>短评
						</div>
						<div class="public4">
							<img src="../img/detail_shoping_img/0.0.png" />
						</div>
						<div class="public5">
							<div class="public55">好评(100%)<div class="good1">
								<div class="good2" style="width: 100%;"></div>
							</div></div>
							<div class="public55">中评(0%)<div class="good1">
								<div class="middle2" style="width:0%;"></div>
							</div></div>
							<div class="public55">差评(0%)<div class="good1">
								<div class="bad2" style="width: 0%;"></div></div>
						</div>
					</div>
					
					</div>
					<div class="mark_right">
						<div class="public61">发表评论即可获得<span>10</span>积分</div>
						<div class="public62"></div>
						<a href="javascript:void(0);"><span class="public63"></span></a>
						<div class="public64">对已购商品进行评价</div>
					</div>
				</div>
				<div class="defined"></div>
				<div class="divs"></div>
				<div class="prev_next">
					<div class="p_n">
					<div><img src="../img/detail_shoping_img/pager_pre.jpg"></div><div><img src="../img/detail_shoping_img/pager_next.jpg"></div>
					</div>
				</div>
				<div id="fwcn" class="advantage"></div>
				<div class="tab_over">
					<div class="tab_div clearfix">
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
					<div class="tab_pic">
						<div style="display: block;"><img src="../img/detail_shoping_img/xz_adv.jpg"></div>
						<div><img src="../img/detail_shoping_img/xz_adv2.jpg"></div>
						<div><img src="../img/detail_shoping_img/xz_adv3.jpg"></div>
						<div><img src="../img/detail_shoping_img/xz_adv4.jpg"></div>
						<div><img src="../img/detail_shoping_img/xz_adv5.jpg"></div>
						<div><img src="../img/detail_shoping_img/xz_adv6.jpg"></div>
						<div><img src="../img/detail_shoping_img/xz_adv7.jpg"></div>
						<div><img src="../img/detail_shoping_img/xz_adv8.jpg"></div>
					</div>
				</div>
			</div>
			<div class="temp_right">
				<div class="left_two" style="margin-top: 120px;">
						<h4>精华排行榜</h4>
						<div class="order"></div>
					</div>
					<div class="left_two">
						<h4>猜你喜歡</h4>
						<div class="like"></div>
						<div class="baidu"></div>
					</div>
					<div class="left_two baidu">
						<h4>购买此商品的用户还购买</h4>
						<div class="wenkday"></div>
						<div class="baidu"></div>
					</div>
			</div>
		</div>
			<script type="text/html" id="order">
			<% for(var i=42;i<48;i++) { var prod = list[i]; %>
			<div class="order_temp">
				<div class="order_l"><a href="detail_shoping.html"><img src="<%= prod.imgSrc%>"></a></div>
				<div class="order_r">
					<a href="detail_shoping.html"><%= prod.title%></a>
					<p>
						<%= prod.now_price%><span><%= prod.old_price%></span>
					</p>
				</div>
			</div>
			<% } %>	
		</script>
		<script type="text/html" id="like">
			<% for(var i=35;i<41;i++) { var prod = list[i]; %>
			<div class="order_temp">
				<div class="order_l"><a href="detail_shoping.html"><img src="<%= prod.imgSrc%>"></a></div>
				<div class="order_r">
					<a href="detail_shoping.html"><%= prod.title%></a>
					<p>
						<%= prod.now_price%><span><%= prod.old_price%></span>
					</p>
				</div>
			</div>
			<% } %>	
		</script>
		<script type="text/html" id="wenkday">
			<% for(var i=24;i<30;i++) { var prod = list[i]; %>
			<div class="order_temp">
				<div class="order_l"><a href="detail_shoping.html"><img src="<%= prod.imgSrc%>"></a></div>
				<div class="order_r">
					<a href="detail_shoping.html"><%= prod.title%></a>
					<p>
						<%= prod.now_price%><span><%= prod.old_price%></span>
					</p>
				</div>
			</div>
			<% } %>	
		</script>
		<div class="footer"></div>
	</body>
	<script type="text/javascript" src="../js/require.js" data-main="../js/detail_shoping"></script>
</html>
