<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>校妆网-【爱美,选校妆】大学生最爱的时尚美妆门户!综合首选,正品低价!</title>
		<link rel="Shortcut Icon" href="../img/xiaozhuang_logo.ico" type="image/x-icon">
		<link href="../css/homepage.css" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="../fonts/iconfont.css"/>
	</head>
	<body>
	<div id="h_one">
	<div class="top"><a href="#"><img src="../img/homepage_img/top.jpg"></a></div>
	</div>
	<div class="header"></div>
	<div id="container">
		<ul class="ul1">
			<li><img src="../img/homepage_img/ban1.jpg"></li>
			<li><img src="../img/homepage_img/ban2.jpg"></li>
			<li><img src="../img/homepage_img/ban3.jpg"></li>
			<li><img src="../img/homepage_img/ban4.jpg"></li>
		</ul>
		<div class="pages"></div>
		<div class="prev">&lt;</div>
		<div class="next">&gt;</div>
	</div>
	<div id="main">
		<div class="super clearfix">
			<div class="super_left clearfix">
			<div class="l_title">
			<h4>超级特卖<span>Super sale</span></h4>
			<div><marquee behavior="scroll" width="" onmouseout = "start()" scrollmount="30" onmouseover="stop()" height="40" direction="up">购物习惯有奖调查</marquee></div>
			</div>
			<div class="temp1 clearfix">
			</div>
			</div>
			<div class="selected">
				<div class="se_top">
				<h4>精选活动<span>Selected activities</span></h4>
				<div class="se_img"><a href=#><img src="../img/homepage_img/song.jpg"></a></div>
				<a class="mai" href="#">买兰芝赠柔软水</a>
				</div>
				<div class="se_down">
					<h4>品牌特卖<span>Brand sale</span></h4>
						<ul>
							<li><a href="#"><img src="../img/homepage_img/li1.jpg"></a>
								<div class="li_brand">
								<h3><a>一叶子</a></h3>
								<p><a>满49赠覆盆子紧致细肤旅行三件套
								</a></p>
								</div>
							</li>
							<li><a href="#"><img src="../img/homepage_img/li2.jpg"></a>
								<div class="li_brand">
								<h3><a>番茄派</a></h3>
								<p><a>满39赠嘟嘟唇膜8g*2
								</a></p>
								</div>
							</li>
							<li><a href="#"><img src="../img/homepage_img/li3.jpg"></a>
								<div class="li_brand">
								<h3><a>雅邦</a></h3>
								<p><a>满49赠雅邦精纯香薰花水
								</a></p>
								</div>
							</li>
						</ul>
				</div>
			</div>
		</div>		
		<div class="brand">
			 <h2 class="title">品牌推荐<span>Brand recommend</span><!--<a href="#" class="more">MORE></a>--></h2>
   			 <div class="brand_lis">
                 <a href="#" target="_blank" ><img src="../img/homepage_img/l1.jpg" ><span></span></a>
                 <a href="#" target="_blank" ><img src="../img/homepage_img/l2.jpg" ><span></span></a>
                 <a href="#" target="_blank" ><img src="../img/homepage_img/l3.jpg" ><span></span></a>
                 <a href="#" target="_blank" ><img src="../img/homepage_img/l4.jpg" ><span></span></a>
                 <a href="#" target="_blank" ><img src="../img/homepage_img/l5.jpg" ><span></span></a>
                 <a href="#" target="_blank" ><img src="../img/homepage_img/l6.jpg" ><span></span></a>
                 <a href="#" target="_blank" ><img src="../img/homepage_img/l7.jpg" ><span></span></a>
                 <a href="#" target="_blank" ><img src="../img/homepage_img/l8.jpg" ><span></span></a>
                 <a href="#" target="_blank" ><img src="../img/homepage_img/l9.jpg" ><span></span></a>
                 <a href="#" target="_blank" ><img src="../img/homepage_img/l10.jpg" ><span></span></a>
                 <a href="#" target="_blank" ><img src="../img/homepage_img/l11.jpg" ><span></span></a>
                 <a href="#" target="_blank" ><img src="../img/homepage_img/l12.jpg" ><span></span></a>
                 <a href="#" target="_blank" ><img src="../img/homepage_img/l13.jpg" ><span></span></a>
                 <a href="#" target="_blank" ><img src="../img/homepage_img/l14.jpg" ><span></span></a>
			     <a href="#" target="_blank" ><img src="../img/homepage_img/l15.jpg" ><span></span></a>
			     <a href="#" target="_blank" ><img src="../img/homepage_img/l16.jpg" ><span></span></a>
			     <a href="#" target="_blank" ><img src="../img/homepage_img/l17.jpg" ><span></span></a>
			     <a href="#" target="_blank" ><img src="../img/homepage_img/l18.jpg" ><span></span></a>
              </div>
		</div>
		<div class="hot">
			 <h2 class="tit">
       	 <b>
            <a href="#" target="_blank">保湿</a>/
            <a href="#"  target="_blank">清洁</a>/
            <a href="#"  target="_blank">祛痘</a>/
            <a href="#"  target="_blank">卸妆</a>/
            <a href="#"  target="_blank">眼妆</a>/
            <a href="#"  target="_blank">隔离</a>/
            <a href="#"  target="_blank">控油</a>
        </b>
       	 热销推荐<span>Hot  Recommendation</span>
        	<a href="#" class="more">MORE></a>
  	 	 </h2>
  	 	 <div class="temp_main"></div>
		</div>
		<script type="text/html" id="temp1">
			<% for(var i=0;i<list.length;i++){ var product = list[i]; %>
		<div class="super_temp">
			<a href="#"><img src="<%=product.src%>">
			<span>真心<br>便宜</span></a>
			<div class="djs"></div>
			<p class="p"><a href="#"><%=product.p%></a></p>
			<div class="price clearfix">
			<span><dfn>￥</dfn><%=product.price_now%></span>
			<del><dfn>￥</dfn><%=product.price_old%></del>
			<a href="#">立即抢购</a>
			</div>
		</div>

			<% } %>
		</script>
		<script type="text/html" id="temp2">
			<% for(var i=0;i<list.length;i++){ var prod = list[i]; %>
				<div class="H">
					 <div class="hot_img">
					 <a href="#" target="_blank">
					 <img src="<%=prod.imgSrc%>"  width="336" height="216"></a>
                    <span>真心<br>便宜</span>
                    
                    <h2><a href="#" target="_blank"><%=prod.product_info%></a></h2>
               	 		<p><%=prod.p_info%></p>
              	  <div class="sale_price">
                    <span class="sale_num"><strong><%=prod.num%></strong>人已购买</span>
                    <span class="priced"><dfn>&yen;</dfn><%=prod.now_price%></span>
                     <del class="price"><dfn>&yen;</dfn><%=prod.old_price%></del>
                     <span class="discount"><%=prod.discount%></span>
               	 </div>
               	 <a href="javascript:void(0);" class="sale_buy" data-product-id="59872">立即抢购</a>
               	 </div>
				</div>
			<% } %>
		</script>
	</div>
	<div id="left_slider">
			<ul class="newHome-navbar" style="display:block;">
				<li><a href="javascript:void(0);" >面部<br>护肤</a></li>
				<li><a href="javascript:void(0);" >时尚<br>彩妆</a></li>
				<li><a href="javascript:void(0);" >个人<br>护理</a></li>
				<li><a href="javascript:void(0);" >美体<br>工具</a></li>
				<li><a href="javascript:void(0);" >男士<br>护理</a></li>
				<li><a href="javascript:void(0);" >经典<br>香氛</a></li>
			</ul>	
	</div>
	<div id="right_slider">
		<ul>
			<li><a class="newHome-toolBar-xzapp" href="#" title="校妆网App"></a></li>
			<li><a class="newHome-toolBar-shopcar" href="#" title="购物车"></a></li>
			<li><a class="newHome-toolBar-gototop" href="JavaScript:void(0);" title="返回顶部"></a></li>
		</ul>
	</div>
	</body>
	<!-- <script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script> -->
	<script type="text/javascript" src="../js/require.js" data-main="../js/homepage"></script>
	<!-- <script type="text/javascript">
	$(function(){
		$("#nav .list li .silder").show();
		$("#nav .list li :first").css("background","#e73a77");
	});
		
	</script> -->
</html>
